head 
  style.
    li{display: inline;}
    span{
      display: inline-block;
      padding: 5px 15px
    }
body 
  p Display stuff horizontal menu 
  ul
    li
      a(href="/html/default.html" target="_blank") HTML
    li
      a(href="/css/default.html" target="_blank") CSS
    li
      a(href="/js/default.html" target="_blank") JAva
  h1 Display span elements again..... 
  span display: block; 
  span merele lui ana sunt 
  span azi este