head 
  title Despre culorile ochilor
body 
  div
    h1 First solo
  div
    p My mother has 
      span(style="color:blue") blue eyes.
  div
    p My father has 
      span(style="color:green") green eyes.
  div 
    p Let`s talk about 
      span(style="color:red") red eyes.  