extends ../_component/layout/base

block awesome-content
  header The life of a coder 
    h1 How we eat all day
    p In the morning we eat html 
    p In the evening we eat java 
    p Sometimes we dont eat 
    
  footer
    h2 The way we drink
    p Morning coffee 
    p Evening Coffee
    p Night Coffee
