extends ../_component/layout/base

block awesome-content
  h1 Sa scriem pe randuri diferite today 
  p Azi o sa scriu mult.. sau poate ca nu 
  hr
  p
    em Good morning MA r I A 
  br
  p ceva foarte interesant
    br
    em ciorap 
  b O sa ma doara capul imediat
  pre Nu imi este foame inca 
    p taday team 
    br
    p dalsojdaojsfl;ajfs  
    br 
    p Ssdlkfgjsldgjlkdjgldsk    
    em a faslfjalksnfna f aslkfja;s
  h3 sa vedem ce ananas o sa iasa 
  code(
    style="font-family:Consolas,`courier new`;color:crimson;background-color:#f1f1f1;padding:2px;font-size:105%"
  ) backgorund-color
