extends ../_component/layout/base

block awesome-content
  footer 
    div 
      span &copy; vivy 2020 si 2
      p contact me here
      a ksj
      p shaorma 
      a(href="todayteam" title="stiu ce nu face") miau
