extends ../_component/layout/base

block awesome-content
  h1 Sa vedem ce este ruby 
  ruby degringolada 
    rt ce inseamna asta
  h2 This will be the sample tag element of the day 
  p Computer says press the button:
  samp file not found
  br 
  samp Did you plug it in?
  h3 Lets use the var tag to see what we can do with it 
  p The area of a triangle is: 1/2 x
    var b 
    | x
    var h 
    | where 
    var b 
    | is the base, and 
    var h 
    | is the vertical height
  h4 and the last tag on the list is mister wbr 
  p We need to shrink the browser window to view how long word in the paragraph below will brak 
  p this is a aSLKJFHLIUADHGFLAHAGLUHGFLADHGVASDKLJGHSLKDJHGFFDSHGFALSKDGHSDFKJHs
    wbr 
  p longwordthatwillbreakataspecific
