h1 Acesta este primul meu script 
p(id="demo")
  script document.getElementById("demo").innerHTML="Buna dimineata!"
  p(id="demo1")
  script(type="application/javascript").
    document.getElementById("demo1").innerHTML="Asta stiu ca nu e bine!"
h2 Sa vedem daca merge acest link  
p Aici iar nu este bine deoarece imi trebuie un .js adevarat 
script(
  src="myscripts.js"
  referrerpolicy="origin"
)