extend ../_component/layout/base

block awesome-content
  h1 best summer places
  div salut
  p europe
  p asia
  ul
    li
      a(href="") super link 1
    li
      a(href="") super link 2
    li
      a(href="") super link 3
    li
      a(href="") super link 4
    li
      a(href="") super link 5
    li
      a(href="") super link 6
    li
      a(href="") super link 7