extend ../_component/layout/base

block awesome-content
  p Mancare:
  ul(style="list-style-type:circle") 
    li fructe
    li carne
    li dulciuri
  ul(style="list-style-type:disc") 
    li fructe
    li carne
    li dulciuri
  ul(style="list-style-type:square") 
    li fructe
    li carne
    li dulciuri
  p Bauturi:
  ol(style="list-style-type:upper-roman")
    li Acidulate
    li Fara zahar
    li Alcoolice
  p Baloane:
  ol(style="list-style-type:lower-alpha")
    li Grase
    li Slabe
    li Normale