extend ../../_component/layout/base.pug

//-  Aici vreau sa pun un element audio cu atributele src, controls, loop
h3 The audio element
p Click on the play button to play a nice beat:

audio(controls='')
  source(
    src='/_asset/audio/lion.mp3'
    type='audio/mp3'
    )
audio(controls='')
  source(
    src='/_asset/audio/lion.mp3'
    type='audio/mp3'
    )