html
    head 
     title Something with Mars 
     meta charset="UTF-8"
    body 
      h1 Bine ai venit pe planeta rosie 
        p Acum este timpul de a popula si alte planete. Sa exploram <strong>Universul</strong> si intregul necunoscut. <br> Conquer the Universe!
        p &#128525;
      img(src="https://picsum.photos/seed/picsum/200/300", alt="Imagine de pe Marte")

      a(href="./main/index.html") Vezi homepage

      a(href="https://fr.wikipedia.org/wiki/Martes") Vezi si Wikipedia 
      
      
       