extend ../../_component/layout/base.pug

//-  figure  si  figcaption
figure
  img(
    src='/_asset/image/download.jpg'
    alt='Bijuterii'
    style='width:50%'
    )
  figcaption O imagine cu bijuterii dor&eacute;s