extend ../../_component/layout/base.pug


//-  address tag
h1 Take a look at my address
address
  | Mail me at:
  a(
    href='mailto:cmsmarilena@fmail.com'
    ) Marilena
  br
  |   You can find me at:
  br
  |   Paris, Europe
  br
  |   Nr. 5