extend ../../_component/layout/base

block awesome-content
  .grid-mz
    each row in [1, 2, 3, 4, 5, 6]
      .patrat-mz


  .dintr-alt-punct-de-vedere
    .row-wrap-mz 1
    .row-wrap-mz 2
    .row-wrap-mz 33
    .row-wrap-mz 44
    .row-wrap-mz(
      span="2"
    ) 6a
    .row-wrap-mz(
      span="2"
    ) 6o
    .row-wrap-mz(
      span="2"
    ) 6o
