html
  head
    title Dressarossa
  body
    div
      h1 The article element
    div
      article
    div
      h2 Crunchyroll
      p Crunchyroll is the website where you can find loads of anime, as well as games. You can find merchandise with cups and t-shirts as well.
    div
      article
      h2 Edward Newgate
      p Was the strongest men of all. He is known as the father of the sea. He fought powerful enemies as Gol D Roger and Akianu. He died as a hero, protecting what he loved the most, his sons.
    div
      article
      h2 Gol D Roger
      p Was the men that fought against Edward Newgate. Gol D Roger was known as the Pirate King.
    div
      article
      h2 Bahoi de la Constanta
      p Bahoi de la constanta este un personaj fictiv. Pe un pod de nota 10 Bahoi te lasa rece.


