html
  head
    title aside tag
  body
    div
      h1 The aside element
    div
      p What color is a orange and what color is a carrot?
    div
      a(
        href="https://www.youtube.com/watch?v=ISg_Qcd2x7Q"
        title="Click here to find out more"
      ) Carrots
    div
      aside
        h4 Carrot is a carrot
        p Orange is a color or a fruit? we don't know. Carrot is orange so orange is a carrot?

