html
  head
    title ∫∫∑∑∆∆®∆å∆µß∆ƒ
  body
    h1 The details element
    p let's find out what it does
    div
      details
        summary The one piece
        p The one piece exist somewhere. Along with luffy and alll his friends they will find it.
    div
      details
        summary hunterxhunter
        p in his search for his father that went one day to buy milk gon has meet good and bad people.
    div
      details
        summary the promise neverland
        p is them kids that are the meals for them demons.

