html
  head
    title ∆ƒ∆®ƒ^∆ƒ∆®ƒ
  body
    div
      h1 The mark element
    div`
      p Hai oleaca cu totii
    div
      h2 the hidden leaf
    div
      p orochimaru is a
        mark hero
    div
      p ma prietenasii
        mark mei
    div
      p puiul
        mark spartan
    div
      p and the demons
        mark asta
    div
      p  te am inchis
        mark restaurant