extend ../_component/layout/base

block awesome-content
  head
    title How it works
  div
    h1 This is about bold italic and underline
  div
    p This is a normal text -
      b This is a bold text
  div
    h2 World War II -
      b Gheorghe Gheorghiu-Dej
  div
    p One piece -
      b Monkey D Luffy
  div
    h3 Bounty Rush -
      i Bounty Rush
  div
    p Dressarossa ark -
      i Dressarossa ark
  div
    h4 Whole Cake Island -
      u Whole Cake Island
  div
    p Big Mom and Kaido -
      u Big Mom and Kaido
  div
  a(
    href="https://beta.crunchyroll.com"
    title="click here to watch one piece"
  ) One Piece
