extends ../_component/layout/base.pug

block awesome-content
    h1 ana are ยง  1,ljkmere
    p costinesti mainile in aer
    h2 Mai prietenasii mei
    p Puternic dezvoltat
    p pe un pod de nota 10