table 

  //- first row
  tr 
    //- first cell
    td I am first 

    //- second cell
    td I am second 

  //- second row
  tr 
    td I am first, on row 2
    td I am second on row 2

  //- third row
  tr 
    td I am on the left 
    td I am on the right
