extends ../../_component/layout/base

block awesome-content
  h1 Here is my pizza factory

  a(href="../index.html") Go back to the main page


  p You will be amazed of how much I can do with only a few HTML tags, so let me show you a list with the pizzas that we have :).

  ul
    li Pepperoni pizza
    li Margherita Pizza
    li Hawaiian Pizza
    li Chicken dash pizza

  p Here are our steps in making the pizza:

  ol(type="A")
    li prepare the dough
    li flatten dough
    li spread tomato sauce
    li spread topping
    li spread cheese
    li oven time zzz zzz
    li cut, pack, deliver
    li Happy people ^^

    h2 Pizza gallery:

    img(src="", alt="")



  a(href="../customer-table/customer-table.html") Go to customer page