//- pagina creata pentru actiunea la un buton

style.
  body {
    display: grid;
    align-items: center;
    text-align: center;
    background-color: grey;
  }

h1 Mai incearca, cine stie poate ajunge mesajul tau undeva &#128540
