-
  var { mariateo, antonia2203, marianzburlea, vivy  } = data
  const menuList = [mariateo, antonia2203, vivy, marianzburlea]


.aside
  h3 There will be some awsome content to go through on this side of the page
  ul
    each alabala in menuList
      li
        h2= alabala.name
        ol
          each item in alabala.work
            li
              a(
                href=`/${alabala.githubId}/${item.link}.html`
                title= item.title
              )= item.link
