.aside {
  display: flex;
  grid-row:2/3;
  grid-column:2/3;
  border: 5px solid blue;
  border-color: rgb(195, 207, 99);
  flex-direction: column;
  background-color: rgb(240, 207, 213);
}

ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  align-items: start;
}
