header 
  h1 Munca mea de test

main 
  p Imi place sa merg la mare....!!!!


title Aici nu stiu ce vom avea 

p Pringles sunt chiar buni 

h1 Ana are mere 
h2 Ana are si pere 
h3 Marian vine si le ia pe toate 
h4 Cate mere si pere mai are Ana?
h5 O sa aflam 
h6 Marian a castigat 


table 
  tr 
    th Nume 
    th Ocupatie 
    th Locatie 
    th Vreme Locala 
  tr
    td Florin 
    td Somer 
    td Londra 
    td Furtuna 
  tr 
   td Marian 
   td Angajat 
   td Londra 
   td Soare 
  tr 
    td Antonia 
    td Nu se stie 
    td Undeva pe pamant 
    td Ploua probabil 


h1 cam atat pana aici, vedem ce adaugam in continuare 


