div 
  p asa e un paragraf intr-un tag div 
  div asta e un div in div

.neata 
  p inca un paragraf

#super
  ul
    li item 1
    li item 2

input(
  type="text"
  id="lname"
  name="lname"
)

html 
  head 
    title asdasdasd
  body 
