extends ../_component/layout/base

block awesome-content
  main
    h1
      i Welcome to my little website

    p
      b We are writing our first html website using Pug. This is my main page. I hope you will like it around here. Enjoy!

    h2
      u Pizza website

    div Check out my pizza website
    span ☺

    blockquote I just made use of some of the main tags in HTML and I managed to display some content for anyone to see. Also there is some basic navigation available.



    a(href="./pizza-mania/pizza-mania.html") Click here if you like pizza
