html 
  head 
    title Audio Tag 
  body 
    figure 
      figcaption Lion roar: 
    audio(
      controls
      src="/asset/audio/lion.mp3"
    )
    div Horses
    audio(
      controls 
      src="/asset/audio/horse.mp3"
      )
