extends ../_component/layout/base

block awesome-content
  head 
    title Audio Tag 
  figure 
    figcaption Lion roar: 
    audio(
      controls
      src="/asset/audio/lion.mp3"
    )
  div Horses
  audio(
    controls 
    src="/asset/audio/horse.mp3"
    )
