html 
  head 
    title Button Tag 
  body(
    style="text-align:center; background-color: pink"
  )
    h1 The button Element 
    button(type="button", onclick='alert(\'Hello world!\')') Click Me!


