html 
  head 
    title Fieldset tag
  body
    h1 The fieldset element 
    form
      fieldset
        legend Your favourite color 
        input#red(type="radio",name="color")
        label(for="red") red
        br
        input#blue(type="radio",name="color")
        label(for="blue") blue
        br
        input#green(type="radio",name="color")
        label(for="green") green