extends ../_component/layout/base

block awesome-content
  h1(style="color:rgb(190, 36, 190") This is heading 1
  h2(style="text-align:justify") This is heading 2
  h3 This is heading 3
  h4 This is heading 4
  h5 This is heading 5
  h6 This is heading 6
