html 
  head 
    title Text tags 
  body
    p
      i This is italic.
    p 
      em The em tag is used to define emphasized text.
    p 
      u The content inside it is typically displayed with an underline.
    p 
      s The tag specifies text that is no longer correct.
    h1 
      del This is the del element
    p 
      | The most important rule is 
      strong never go out 
      | after 12.
    p 
      | This is normal text and this is 
      b bold 
      | text.
    p 
      | This is a regular size text -
      small and this is a smaller text
      | .
    p 
      | The chemical formula for water is H
      sub 2
      | 0 .
    p 
      | This text contains
      sup superscript
      | text.

