extends _component/layout/base

block awesome-content
  //- include _component/test/test
  h1 O sa ne distram maxim cu acest website
  //- -
  //-   var { mariateo, antonia2203, marianzburlea, vivy } = data
  //-   var menuList = [mariateo, antonia2203, vivy, marianzburlea]

  //- pre= JSON.stringify(mariateo, null, 2)

