extends ../../_component/layout/base

block awesome-content
  header Maria Customer Table
    p Sept 2022

  h1 Here is my customer table

  a(href="../index.html") Go back to the main page


  p Check out my happy customers

  table(border="1", cellpadding="10",)
    tr
      td Nr.
      td Customer name
      td Customer happiness rate
      td Reviews
      td(colspan="2") Would reccomend?
    tr
      td 1.
      td Alice Parker
      td 4/5
      td I love your pizza!!
      td Definitely
      td
    tr
      td 2.
      td Hannah Bannanah
      td 5/5
      td I order every Friday from you guys! It feels like a reward!
      td Every weekend!
      td
    tr
      td 3.
      td Samantha Karen
      td 3/5
      td Can't complain
      td
      td Ew, no

  a(href="../pizza-mania/pizza-mania.html") Go to pizza mania

  aside
    h2 Thoughts and progress
    p This is a good progress, so far I finished most of my tasks. This is in an aside element. I am very happy with what I was able to do only with HTML!

  footer &copy;Maria 2022
    p Send an email at: maria@wowdop.com